# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
accesscontrol=5.0=pypi_0
acquisition=4.7=pypi_0
ais-parser=0.0.post0.dev16+nge7bccb5.dirty=pypi_0
alabaster=0.7.12=pyhd3eb1b0_0
altgraph=0.17=pypi_0
ansicolors=1.1.8=pypi_0
appnope=0.1.0=pypi_0
argon2-cffi=20.1.0=py38h9ed2024_1
argparse-color-formatter=1.2.2.post2=pypi_0
async_generator=1.10=pyhd3eb1b0_0
attrs=19.1.0=pypi_0
authencoding=4.2=pypi_0
babel=2.7.0=pypi_0
backcall=0.1.0=pypi_0
beautifulsoup4=4.9.3=pypi_0
blas=1.0=mkl
bleach=3.1.0=pypi_0
brotlipy=0.7.0=py38h9ed2024_1003
btrees=4.7.2=pypi_0
ca-certificates=2021.1.19=hecd8cb5_1
certifi=2019.6.16=pypi_0
cffi=1.14.5=py38h2125817_0
chameleon=3.8.1=pypi_0
chardet=3.0.4=pypi_0
click=7.1.2=pyhd3eb1b0_0
colorama=0.4.4=pyhd3eb1b0_0
commonmark=0.9.1=py_0
coverage=5.4=pypi_0
cryptography=3.3.1=py38hbcfaee0_1
datetime=4.3=pypi_0
dbus=1.13.18=h18a8e69_0
decorator=4.4.0=pypi_0
defusedxml=0.6.0=pyhd3eb1b0_0
documenttemplate=4.0=pypi_0
docutils=0.15.2=pypi_0
entrypoints=0.3=py38_0
expat=2.2.10=hb1e8313_2
extensionclass=4.5.0=pypi_0
flask=1.1.2=pyhd3eb1b0_0
future=0.17.1=pypi_0
geographiclib=1.50=py_0
geopy=2.1.0=pyhd3deb0d_0
gettext=0.19.8.1=hb0f4f8b_2
glib=2.67.4=hdf23fa2_1
icu=58.2=h0a44026_3
idna=2.8=pypi_0
imagesize=1.1.0=pypi_0
importlib=1.0.4=pypi_0
importlib-metadata=0.19=pypi_0
importlib_metadata=2.0.0=1
iniconfig=1.1.1=pypi_0
intel-openmp=2019.4=233
ipykernel=5.1.2=pypi_0
ipython=7.7.0=pypi_0
ipython_genutils=0.2.0=pyhd3eb1b0_1
ipywidgets=7.6.3=pyhd3eb1b0_1
itsdangerous=1.1.0=pyhd3eb1b0_0
jedi=0.14.1=pypi_0
jinja2=2.10.1=pypi_0
jpeg=9b=he5867d9_2
jsonschema=3.0.2=pypi_0
jupyter=1.0.0=py38_7
jupyter-client=5.3.1=pypi_0
jupyter-core=4.5.0=pypi_0
jupyter_console=6.2.0=py_0
jupyterlab_pygments=0.1.2=py_0
jupyterlab_widgets=1.0.0=pyhd3eb1b0_1
krb5=1.17.1=hddcf347_0
lazy-object-proxy=1.4.1=pypi_0
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
libiconv=1.16=h1de35cc_0
libpng=1.6.37=ha441bb4_0
libpq=12.2=h051b688_0
libsodium=1.0.18=h1de35cc_0
macholib=1.14=pypi_0
markupsafe=1.1.1=py38h1de35cc_1
mistune=0.8.4=py38h1de35cc_1001
mkl=2019.4=233
mkl-service=2.3.0=py38h9ed2024_0
mkl_fft=1.2.0=py38hc64f4ea_0
mkl_random=1.1.1=py38h959d312_0
modulegraph=0.18=pypi_0
multimapping=4.1=pypi_0
multipart=0.2.4=pypi_0
nbclient=0.5.2=pyhd3eb1b0_0
nbconvert=5.5.0=pypi_0
nbformat=4.4.0=pypi_0
ncurses=6.2=h0a44026_1
nest-asyncio=1.5.1=pyhd3eb1b0_0
notebook=6.0.0=pypi_0
numpy=1.19.2=py38h456fd55_0
numpy-base=1.19.2=py38hcfb5961_0
oauthlib=3.1.0=pypi_0
openssl=1.1.1j=h9ed2024_0
packaging=19.1=pypi_0
pandas=1.2.1=py38hb2f4e1b_0
pandoc=2.11=h0dc7051_0
pandocfilters=1.4.2=pypi_0
parso=0.5.1=pypi_0
pastedeploy=2.1.1=pypi_0
pcre=8.44=hb1e8313_0
persistence=3.0=pypi_0
persistent=4.6.4=pypi_0
pexpect=4.7.0=pypi_0
pgsql=1.2=pypi_0
pickleshare=0.7.5=pyhd3eb1b0_1003
pip=20.3.3=py38hecd8cb5_0
plotly=4.14.3=pyhd3eb1b0_0
pluggy=0.12.0=pypi_0
prometheus-client=0.7.1=pypi_0
prompt-toolkit=2.0.9=pypi_0
prompt_toolkit=3.0.8=0
psycopg2=2.8.6=py38hbcfaee0_1
ptyprocess=0.6.0=pypi_0
py=1.8.0=pypi_0
py2app=0.23=pypi_0
pycodestyle=2.5.0=pypi_0
pycparser=2.20=py_2
pyflakes=2.1.1=pypi_0
pygments=2.4.2=pypi_0
pyinstaller=4.2=pypi_0
pyinstaller-hooks-contrib=2020.11=pypi_0
pymysql=1.0.2=py38hecd8cb5_1
pyopenssl=20.0.1=pyhd3eb1b0_1
pyparsing=2.4.2=pypi_0
pyqt=5.9.2=py38h655552a_2
pyrsistent=0.15.4=pypi_0
pysimplegui=4.34.0=pyh44b312d_0
pysimplegui-exemaker=1.3.0=pypi_0
pysocks=1.7.1=py38_1
pytest=6.2.2=pypi_0
pytest-cov=2.11.1=pypi_0
python=3.8.5=h26836e1_1
python-dateutil=2.8.0=pypi_0
python-gettext=4.0=pypi_0
pytz=2019.2=pypi_0
pyyaml=5.1.2=pypi_0
pyzmq=18.1.0=pypi_0
qt=5.9.7=h468cd18_1
qtconsole=4.5.2=pypi_0
qtpy=1.9.0=py_0
readline=8.1=h9ed2024_0
recommonmark=0.6.0=py_0
requests=2.22.0=pypi_0
requests-oauthlib=0.3.3=pypi_0
restrictedpython=5.1=pypi_0
retrying=1.3.3=py_2
roman=3.3=pypi_0
send2trash=1.5.0=pyhd3eb1b0_1
setuptools=52.0.0=py38hecd8cb5_0
sip=4.19.8=py38h0a44026_0
six=1.12.0=pypi_0
snowballstemmer=1.9.0=pypi_0
soupsieve=2.2=pypi_0
sphinx=2.1.2=pypi_0
sphinxcontrib-applehelp=1.0.1=pypi_0
sphinxcontrib-devhelp=1.0.1=pypi_0
sphinxcontrib-htmlhelp=1.0.2=pypi_0
sphinxcontrib-jsmath=1.0.1=pyhd3eb1b0_0
sphinxcontrib-qthelp=1.0.2=pypi_0
sphinxcontrib-serializinghtml=1.1.3=pypi_0
sqlite=3.33.0=hffcf06c_0
style=1.1.0=pypi_0
terminado=0.8.2=pypi_0
testpath=0.4.2=pypi_0
tk=8.6.10=hb0a8c7a_0
toml=0.10.0=pypi_0
tornado=6.0.3=pypi_0
traitlets=4.3.2=pypi_0
transaction=3.0.1=pypi_0
typed-ast=1.4.0=pypi_0
update=0.0.1=pypi_0
urllib3=1.25.3=pypi_0
virtualenv=16.7.2=pypi_0
waitress=1.4.4=pypi_0
wcwidth=0.1.7=pypi_0
webencodings=0.5.1=py38_1
webob=1.8.7=pypi_0
webtest=2.0.35=pypi_0
werkzeug=1.0.1=pyhd3eb1b0_0
wheel=0.36.2=pyhd3eb1b0_0
widgetsnbextension=3.5.1=py38_0
wrapt=1.11.2=pypi_0
wsgiproxy2=0.4.6=pypi_0
wxpython=4.1.1=pypi_0
xz=5.2.5=h1de35cc_0
yaml=0.2.5=haf1e3a3_0
z3c-pt=3.3.0=pypi_0
zc-lockfile=2.0=pypi_0
zconfig=3.5.0=pypi_0
zeromq=4.3.3=hb1e8313_3
zexceptions=4.1=pypi_0
zipp=0.5.2=pypi_0
zlib=1.2.11=h1de35cc_3
zodb=5.6.0=pypi_0
zodbpickle=2.0.0=pypi_0
zope=5.1.1=pypi_0
zope-annotation=4.7.0=pypi_0
zope-browser=2.3=pypi_0
zope-browsermenu=4.4=pypi_0
zope-browserpage=4.4.0=pypi_0
zope-browserresource=4.4=pypi_0
zope-cachedescriptors=4.3.1=pypi_0
zope-component=4.6.2=pypi_0
zope-configuration=4.4.0=pypi_0
zope-container=4.4.0=pypi_0
zope-contentprovider=4.2.1=pypi_0
zope-contenttype=4.5.0=pypi_0
zope-deferredimport=4.3.1=pypi_0
zope-deprecation=4.4.0=pypi_0
zope-dottedname=4.3=pypi_0
zope-event=4.5.0=pypi_0
zope-exceptions=4.4=pypi_0
zope-filerepresentation=5.0.0=pypi_0
zope-globalrequest=1.5=pypi_0
zope-hookable=5.0.1=pypi_0
zope-i18n=4.7.0=pypi_0
zope-i18nmessageid=5.0.1=pypi_0
zope-interface=5.2.0=pypi_0
zope-lifecycleevent=4.3=pypi_0
zope-location=4.2=pypi_0
zope-pagetemplate=4.5.0=pypi_0
zope-processlifetime=2.3.0=pypi_0
zope-proxy=4.3.5=pypi_0
zope-ptresource=4.2.0=pypi_0
zope-publisher=6.0.0=pypi_0
zope-schema=6.1.0=pypi_0
zope-security=5.1.1=pypi_0
zope-sequencesort=4.1.2=pypi_0
zope-site=4.4.0=pypi_0
zope-size=4.3=pypi_0
zope-structuredtext=4.3=pypi_0
zope-tal=4.4=pypi_0
zope-tales=5.1=pypi_0
zope-testbrowser=5.5.1=pypi_0
zope-testing=4.9=pypi_0
zope-traversing=4.4.1=pypi_0
zope-viewlet=4.2.1=pypi_0
