# Ajoutez les exigences nécessaires uniquement pour vos tests unitaires et pendant le développement ici.
# Ils seront installés automatiquement lors de l'exécution de `python setup.py test`.
# ATTENTION: Ne retirez pas pytest-cov et pytest car ils sont nécessaires.
pytest-cov
pytest
recommonmark
pandas
psycopg2
geopy
geographiclib
